# Python bytecode
*.pyc
__pycache__/

# macOS metadata
*.DS_Store*

# log files
*.log*

# Profiler files
*.prof
*.lprof

# UML files (for now)
*.puml
*.dot

# Pictures
*.png

# CAD STL Files
*.stl

# Parquet files
*.parquet
de421.bsp
duckdb-extensions
