numpy
matplotlib
tzlocal
pytz
astropy
astroplan
astroquery
flask>=3.0.0
flask-limiter>=3.5.0
geopy
gpiozero
minimalmodbus
pyrtlsdr==0.2.93
#pyobjc
pyrtlsdr
pyserial
pytest
scipy
schema
setuptools==75.6.0
witmotion