adafruit-blinka
adafruit-circuitpython-bme280
adafruit-circuitpython-ads1x15
adafruit-circuitpython-bno08x
adafruit-extended-bus
astropy
astroplan
astroquery
flask>=3.0.0
flask-limiter>=3.5.0
geopy
gpiozero
google-auth
google-auth-oauthlib
google-api-python-client
lgpio; sys_platform == "linux"
numpy
matplotlib
minimalmodbus
pandas-stubs
pytz
pyrtlsdr==0.2.93
pyserial
pysigproc
pytest
scipy
schema
setuptools==75.6.0
tzlocal
witmotion
your
git+https://github.com/FRBs/sigpyproc3.git
